body {
    background: url(images/fashion-portrait-beautiful-sexy-young-adult-blond-woman-model-wearing-black-erotic-lingerie-lying-bed-sunset.jpg);
    /* Add the blur effect */
    filter: blur(0px);
    -webkit-filter: blur(0px);
    /* Center and scale the image nicely */
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}
.bg-transparent {
    background-color: transparent !important;
    border: none;
}
.lal {
    color: red;
}
.content-area {
    
}
.upper-content {
    
    padding: 5px;
    padding: 15px !important;
}
.upper-content h4 {
    text-align: center;
}
.dipper-area {
    margin-top: 7px;
    width: 80%;
    margin: 40px auto;
    
}
.input-area {
    width: 48%;
    padding: 3px 5px;
}
.bag-color {
    background-color: #DA1B48;
    color: white;
    width: 100%;
    margin: 30px 0px;
}
i {
    font-size: 23px;
    margin-right: 28px;
    color: #DA1B48;
}
.img-circle {
    border-radius: 50%;
    width: 133px;
    margin-right: 79px;
}
.main-card {
    
    margin-top: 500px;
}
.suggested {
    
    position: fixed;
}
.content-area-51 {
    width: 100%;
    margin-top: 500px;
}
.ralative {
    position: relative;
}

.content-area {
    position: absolute;
    display: absolute;
    opacity: 5;
    margin-top: 64px;
    background-color: rgb(0,0,0); /* Fallback color */
    background-color: rgba(0,0,0, 0.5); /* Black w/opacity/see-through */
    color: white;
    font-weight: bold;
    z-index: 2;
    border-radius: 30px;
    text-align: center;

    right: 10px;
}
.ancor {
    text-decoration: none;
    color: white;
}